################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Waffle/.vs/Waffle
/Waffle/bin/Debug-x64
/Waffle/bin-int/Debug-x64
